body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
.showMenu {
  animation: _showMenu 400ms ease forwards
}

.hideMenu {
  animation: _hideMenu 400ms ease forwards
}

@keyframes _showMenu {
  from: {
    left: "-100%"
  }

  to: {
    left: "0%"
  }

}

@keyframes _hideMenu {
  from: {
    left: "-100%"
  }

  to: {
    left: "0%"
  }

}*/